:root{
    --yellow:#FCB31C;
    --siva:#cccccc;
    --rj:#2e2925;
    --rob_card: 20px;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
ul{
    list-style-type: none;
}
h1{
    font-size: 44px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--yellow);
}
h2{
        font-size: 27px;
        font-family: 'Times New Roman', Times, serif;
        color: var(--yellow);
}
a{
    font-size: 19px;
}
p{
    color: #ffffff;
    font-family: Helvetica,sans-serif ;
    font-size: 1rem;
    letter-spacing: 1px;
}

/*---------------------------------nav bar-----------------------*/

header{
  margin: 0;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 0;
  background-color: #2e2925f0;
  border-end-end-radius: 200%;
  border-end-start-radius: 200%;
  height: 110px;
  z-index: 2; 
  position: fixed;
  transition:all 0.5s linear;
}

.nav-pages {
  width: 1400px;
 padding-top: 0%;
  margin-top: 8px;
  transition: all 0.5s linear;
}
#povezave{
  padding-top: 5px;
  margin-right:auto;
  margin-left:auto;
  justify-content: center;
  display: flex;
  transition: all 0.5s linear;  
 
}
#povezave li{
  text-align: center;
  height: 100%;
   width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  float:none;
  transition: all 0.5s linear;  
}

.link{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
  margin-top:-5% ;
  /* margin: 0% 15px;*/
  padding: 13px;
   text-transform: uppercase;
   text-decoration: none;
   color: #ffffff;
   border: solid rgba(255, 255, 255, 0) 0px;
   border-radius: 25px;
   transition:  0.5s linear;
   position: relative;
      
}

#povezave li:nth-child(4), #povezave li:nth-child(5), #povezave li:nth-child(6)
{
  float:right;
 
}

#povezave li:nth-child(1), #povezave li:nth-child(2), #povezave li:nth-child(3)
{
  float:left;
 
}
#povezave li:nth-child(3)
{
 margin-right: 10%; 
}
#povezave li:nth-child(4)
{
 margin-left: 10%; 
}
#nav{
display: flex;
height: 110px;
padding-top: 15px;
margin-left: auto;
margin-right: auto;
justify-content: center;
}
#logo{
  width: 220px;
  padding-top: 5px;
  margin-bottom: 5px;
 transition: all 0.5s linear;
 position: absolute;
}
#logo img{
  width: 100%;
  /*margin-left: -68%;*/
}

.selected{
  border: solid var(--yellow )0px;
  border-radius: 25px;
  background-color: var(--yellow);
  color:black;
}
.selected:hover{
color: #ffffff;
}

.link:hover{
  border: solid var(--yellow )0px;
  border-radius: 25px;
  background-color: var(--yellow);
  transition: all 0.7s linear ;
  position: relative;
}
/*--------------------------------------1-del strani------------------------------*/
.bgimg1{
    margin: 0;
    width: 100%;
    height: 70vh; 
    background-color: #2e292565; 
    background-image: linear-gradient(180deg, #2E292540 4%, #2E2925 100%);
    padding-top: .1px;
    position: relative; 
}
.bgimg1::after{
    content: "";
    width: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-image: url('/img/projektiranje.jpg');
    background-size: cover;
    background-position: center center;
    z-index: -1;
    position: absolute;
}
#main-box{
    margin: 10%;
    padding-left: 17%;
    padding-right: 17%;
    padding-top: 2%;
}
.main-container{
    max-width: 1000px;
    margin: 0; /*pazi*/
    margin:auto;
    text-align: center;
    letter-spacing: 1px; 
}
.main-container h1{
    color: var(--yellow);
    font-size: 4rem;
    letter-spacing: 1px;
    line-height: 95%;
    margin-bottom: 40px;
}
.main-container p{
    font-size: 1.25rem;
    font-weight: 550;
}

/*-------------------------------------2 del------------------------------*/
.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/img/les_letnice.png');
    background-size: cover;
    height: 100vh;
    position: relative;
}
.container::after{
    content: "";
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: linear-gradient(0deg, #2e292526 30%, #2E2925 100%), linear-gradient(180deg,#2e292526 30%, #2e2925 100%);
    background-size: cover;
    height: 100vh;
    z-index: -1;
    position: absolute;
}
.contact-container{
    position: absolute;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}
.info-container{
    margin-right: 10%;
}
.icon{
    position: absolute;
    margin:-25px -50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    border: var(--siva)solid 5px;
    background-color: var(--siva);
    border-radius: 50%;
}
.text{
    margin: 50px;
}
.text h3{
    font-size: 1.4rem;
    color: var(--yellow);
}
#naslov{
    font-size: 1rem;
    padding:20px;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 130%;
    font-family: Helvetica;
}
.text ul{
  list-style-type: none;
  padding: 20px;
}
.text ul li{
    margin-bottom: 10px;
}
.text ul li p{
    font-size: 1rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 180%;
    color: #ffffff;
    font-family: Helvetica;
}
.text a{
    font-size: 1rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    color: #ffffff;
    font-family: Helvetica;
    text-decoration: none;   
}
#mail{
padding: 20px;
}
/*-----------------------------noga-----------------------------------------*/

.container3{
    margin: 0;
   padding-top:6% ;
    width: 100%;
    background-color: var(--rj);
    height:40vh;
    
  
  }
  .noga{
    display: flex;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  
  }
  
  .box1:nth-child(1){
    padding: 4% 7% 3% 12%;
    text-align: center;
    border-right: #ffffff20 solid 0.1px;
  
  }
  .box1:nth-child(2){
    margin: 0;
    width: 400px;
    padding: 1% 2%;
    text-align: center;
    border-right: #ffffff20 solid 0.1px;
  }
  .box1:nth-child(3){
    padding: 3% 9% 3% 7%;
    text-align: center;
   
  }
  .box1 img{
    width: 200px;
    margin-bottom: 20px;
  }
  .box1 a img{
    width: 8%; 
    margin-left: 4%;
    scale: 1;
    opacity: 1;
    transition: 0.3s ease-in-out;
  }
  .box1 a img:hover{
    opacity: 0.5;
    scale: 1.2;
  }
  
  .box1 ul li{
    text-align: left;
    list-style-type: none;
    margin-top: 4%;
  }
  .box1 ul li a{
    text-decoration: none;
    list-style-type: none;
  }
  .box1 ul li a p{
    font-family:'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color:var(--siva);
    font-size: 1.1rem;
    transition: linear 0.2s;
  }
  .box1 ul li a p:hover{
    color: var(--yellow);
  }
  .kontakt-noga h2{
    color: white;
    text-shadow: 1px 1px var(--yellow);
  }
  .kontakt-noga ul li{
    text-decoration: none;
    list-style-type: none;
  }
  .kontakt-noga ul li p{
    font-family:'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color:var(--siva);
    font-size: 1.1rem;
  }