:root{
    --yellow:#FCB31C;
    --siva:#cccccc;
    --rj:#2e2925;
    --rob_card: 20px;
}
::placeholder{
  color: var(--siva);
  opacity: .8;
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
ul{
    list-style-type: none;
}
h1{
    font-size: 44px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--yellow);
}
h2{
        font-size: 2rem;
        font-family: 'Times New Roman', Times, serif;
        color: var(--yellow);
}
a{
    font-size: 19px;
}
p{
    color: #ffffff;
    font-family: Helvetica,sans-serif ;
    font-size: 1rem;
    letter-spacing: 1px;
}

/*---------------------------------nav bar-----------------------*/

header{
  margin: 0;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 0;
  background-color: var(--rj);
  border-end-end-radius: 200%;
  border-end-start-radius: 200%;
  height: 110px;
  z-index: 2; 
  position: fixed;
  transition:all 0.5s linear;
}

.nav-pages {
  width: 1400px;
 padding-top: 0%;
  margin-top: 8px;
  transition: all 0.5s linear;
}
#povezave{
  padding-top: 5px;
  margin-right:auto;
  margin-left:auto;
  justify-content: center;
  transition: all 0.5s linear;  
 
}
#povezave li{
  text-align: center;
  height: 100%;
   width: 100%;
  margin-top: 15px;
 position: relative;
  transition: all 0.5s linear; 
}

.link{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
  /* margin: 0% 15px;*/
  padding: 13px;
   text-transform: uppercase;
   text-decoration: none;
   color: #ffffff;
   border: solid rgba(255, 255, 255, 0) 0px;
   border-radius: 25px;
   transition:  0.5s linear;
   
}

#povezave li:nth-child(4), #povezave li:nth-child(5), #povezave li:nth-child(6)
{
  float:right;
 
}

#povezave li:nth-child(1), #povezave li:nth-child(2), #povezave li:nth-child(3)
{
  float:left;
 
}
#povezave li:nth-child(3)
{
 margin-right: 10%; 
}
#povezave li:nth-child(4)
{
 margin-left: 10%; 
}
#nav{
display: flex;
height: 100px;
padding-top: 20px;
margin-left: auto;
margin-right: auto;
justify-content: center;
}
#logo{
  width: 220px;
  padding-top: 5px;
  margin-bottom: 5px;
 transition: all 0.5s linear;
 position: absolute;
}
#logo img{
  width: 100%;
  /*margin-left: -68%;*/
}
  .selected{
    border: solid var(--yellow )0px;
    border-radius: 25px;
    background-color: var(--yellow);
    color:black;
  }
  .selected:hover{
  color: #ffffff;
  }
  
  .link:hover{
    border: solid var(--yellow )0px;
    border-radius: 25px;
    background-color: var(--yellow);
    transition: all 0.7s linear ;
    position: relative;
  }

/*----------------- vrni domozu------------------*/
.scrollLink {
  position: fixed;
  top: 50%;
  right: 50px;
  display: none; /*v js imaš inline-flex če nedela spremeni nazaj*/
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
  border-radius: 2rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease-out;
  z-index: 2;

}
.scrollLink span {
  color: black;
  font-size: 2.5rem;
  transition: 0.2s ease-out;
}

.scrollLink:hover {
  background-color:#d3910e;

}
.scrollLink:hover span {
  transform: translateY(-4px);
  color: var(--siva);
}
/*--------------------------------------1-del strani------------------------------*/
.bgimg1{
  margin: 0;
  width: 100%;
  min-height: 70vh;
  background-color: #2e292565; 
  background-image: linear-gradient(180deg, #2E292540 4%, #2E2925 100%);
  padding-top: .1px;
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgimg1::after{
    content: "";
    width: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-image: url('../img/projektiranje.jpg');
    background-size: cover;
    background-position: center center;
    z-index: -1;
    position: absolute;
}
#main-box{
   margin: auto;
   width: 100%;
}
.main-container{
    max-width: 30%;
    margin: 0; /*pazi*/
    margin:auto;
    text-align: center;
    letter-spacing: 1px; 
}
.main-container h1{
    color: var(--yellow);
    font-size: 4rem;
    letter-spacing: 1px;
    line-height: 95%;
    margin-bottom: 40px;
}
.main-container p{
    font-size: 1.25rem;
    font-weight: 550;
}

/*-------------------------------------2 del------------------------------*/
.container{
  width: 100%;
  overflow: hidden;
  z-index: 1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: var(--rj);
  background-repeat: no-repeat;
  background-position:center center;
  background-image: url('../img/les_letnice.jpg');
  background-size:cover;
  min-height: 100vh;
  height: fit-content;
  position: relative;
}
.container::after{
  content: "";
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(0deg, #2e292526 30%, #2E2925 100%), linear-gradient(180deg,#2e292526 30%, #2e2925 100%);
  background-size: cover;
  height: 100%;
  z-index: -1;
  position: absolute;
}
.contact-container{
  width: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
}
.info-container{
  display:flex;
  align-items: center;
  padding-left: 50px;
  justify-content: center;
 flex: 50%;
 flex-direction: column;
}

.icon{
    position: absolute;
    margin:20px -50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    border: var(--siva)solid 5px;
    background-color: var(--siva);
    border-radius: 50%;
}
.text{
  width: 200px;
    margin: 35px;
}
.text h3{
    font-size: 1.4rem;
    color: var(--yellow);
}
#naslov{
    font-size: 1rem;
    padding:20px;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 130%;
    font-family: Helvetica;
}
.text ul{
  list-style-type: none;
  padding: 20px;
}
.text ul li{
    margin-bottom: 10px;
}
.text ul li p{
    font-size: 1rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 180%;
    color: #ffffff;
    font-family: Helvetica;
}
.text a{
    font-size: 1rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    color: #ffffff;
    font-family: Helvetica;
    text-decoration: none;   
}
#mail{
padding: 20px;
}
.box-container{
flex: 50%;
margin-left: 10%;
}
.polje{
  min-height: 60px;
  width: 70%;
  text-align: center;
}
form h2{
  margin-bottom: 10px;
}

.polje input{
  font-size: 1rem;
  color: #ffffff;
  padding: 5px;
  border: none;
  height: 30px;
  
}

.polje input[type=text], select {
  border: none;
  border-bottom: 2px solid var(--siva);
  background-color: inherit;
  background-color:#5b5550d2;
  display: block;
  width: 100%;

  margin: none;
}
.polje input[type=email], select{
  border: none;
  border-bottom: 2px solid var(--siva);
  background-color: inherit;
  background-color:#5b5550d2;
  display: block;
  width: 100%;
  margin: none;
}

.polje:focus , select{
border: hidden;
}
.polje textarea{
  resize: none;
}
.polje textarea, select{
  font-size: 1rem;
  outline: none;
  border: none;
  color: #ffffff;
  height: 150px;
  width: 100% ;
  margin-top: 20px;
  background-color:#5b5550d2;
  border-bottom: var(--siva)solid 3px;
  padding: 5px;
}
.polje .line {
  height: 3px;
  width: 0px;
  position: absolute;
  background-color: var(--yellow);
  display: inline-block;
  transition: .6s width ease-in-out;
  position: relative;
  top: -13px;
}
.polje .line-t{
  top: -17px;
}

.polje input[type=text]:focus, select:focus {
  outline: none;
}
.polje input[type=text]:focus+.line, select:focus+.line {
  width: 101.5%;
  border: hide;
  background-color: var(--yellow);
}
.polje input[type=email]:focus, select:focus {
  outline: none;
}
.polje input[type=email]:focus+.line, select:focus+.line {
  width: 101.5%;
  border: hidden;
  background-color: var(--yellow);
}
.polje textarea:focus+.line,select:focus+.line{
  width: 101.5%;
  
  top: -18px;
  border: hidden;
  background-color: var(--yellow);
}
.polje textarea:focus+.line,select:focus{
  outline: none;
}

.gumb input{
  border: none;
  margin:auto;
  width: 85px;
  height: 45px;
  background-color: var(--siva);
  font-weight: 800;
  font-family: Helvetica;
  border-radius: 20px;
  cursor: pointer;
  transition: .4s all;
}
.gumb input:hover{
  background-color: var(--yellow);
  scale: 1.1;
}
@media (max-width:1000px) {
  .contact-container{
    flex-direction: column;
  }
  .info-container{
    width: 90%;
  }
  .box{
    padding:auto;
   }
   .box-container{
    margin-left: 20%;
    
    }
}
/*-----------------------------noga-----------------------------------------*/
.container3{
  margin: 0;
 padding-top:6% ;
  width: 100%;
  background-color: var(--rj);
  height:auto;
}
.noga{
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: var(--rj);
}

.box1{
  width: 32.5%;
  padding: 3% 0 0 0;
  display: flex;
  justify-content: center;
  text-align: left;
  border-right: #ffffff20 solid 0.1px;
}
.box2{
  margin: 0;
  width: 35%;
  padding: 1% 2%;
  text-align: center;
  border-right: #ffffff20 solid 0.1px;
}
.box3{
  width: 32.5%;
  padding: 3% 0 ;
  display: flex;
  justify-content: center;
  text-align: left;
}
.box2 img{
  width: 210px;
  margin-bottom: 20px;
}

.box2 a img{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem; 
  margin-left: 3%;
  scale: 1;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.box2 a img:hover{
  opacity: 0.5;
  scale: 1.2;
}

.box1 ul li,
.box3 ul li
{
  text-align: left;
  list-style-type: none;
  margin-top: 4%;
}
.box1 ul li a,
.box3 ul li a{
  text-decoration: none;
  list-style-type: none;
}
.box1 ul li a p,
.box3 ul li a p{
  font-family:'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  color:var(--siva);
  font-size: 90%;
  transition: linear 0.2s;
}
.box1 ul li a p:hover,
.box3 ul li a p:hover{
  color: var(--yellow);
}
.kontakt-noga h2{
  color: white;
  text-shadow: 1px 1px black;
  margin-bottom: 15px;
}
.kontakt-noga ul li{
  text-decoration: none;
  list-style-type: none;
}
.kontakt-noga ul li p,
.kontakt-noga ul li a p{
  font-family:'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  color:var(--siva);
  font-size: 1rem;
}
footer{
  color: var(--siva);
  text-align: center;
  margin-top: 30px;
  font-size: 0.9rem;
  padding-bottom: 10px;
  background-color: var(--rj);
}
/*---------------------------------------------------------------*/
.nav-mobile {
  display: none;
  height: 70px;
  width: 70px;
  top: 0;
  right: 0;
  background-color: var(--rj);
  z-index: 3;
  position: absolute;
}
@media only screen and (max-width: 1000.5px) {
  .nav-mobile {
    display: block;
    margin-top: 25px;
  }
  .nav-pages {
    width: 100%;
    padding: 0 ; 
  }  
  .nav-pages ul {
    display: none;
    left: 0;
    padding-left: 25%;
  }
   .nav-pages ul li a {
    padding: 15px;
    line-height: 20px; 
  }
  .link{
    display: block;
    width: 50%;
  }
  #ozadje{
    background-color: var(--rj);
    border-bottom: var(--rj)solid 17px;
    width: 100%;
    overflow:auto;
    transition: .5s linear;
    position: absolute;
  }
}
@media screen and (min-width: 1000.5px) {
  #povezave {
    display: flex !important;
  }  
  }
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 4px;
    width: 30px;
    background: white;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -10px; }
  #nav-toggle span:after {
    bottom: -10px; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); 
    }
@media (max-width:1100px) {
  header{
    border-end-end-radius: 0%;
    border-end-start-radius: 0%;
  }
  #nav{
    height: 100px;
  }
  #povezave li{
    margin-top: 16px;
  }
  #logo{
    width: 220px;
    padding-top: 5px;
    margin-bottom: 5px;
  }
  #logo img{
    width: 70%;
  margin-left: 30px;
  padding-top: 5%;
  }
  .link{
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    padding: 13px;
  }
  .main-container{
    max-width: 70%;
  }

  /*--------------------NOGA---------------------------*/
.box2 img{
width: 160px;
}
.box2 a img{
width: 2.2rem; 
}
.kontakt-noga h2{
font-size: 1.2rem;
}
.kontakt-noga ul li p,
.kontakt-noga ul li a p{
font-weight: 200;
font-size: 0.85rem;
}
footer{
font-size: 0.75rem;
}
}
@media (max-width:838px)
    {
   /*------------------------------1-DEL-------------------------*/
   .main-container{
    max-width: 90%;
  }
   .main-container h1{
      font-size: 2.7rem;
    }
    .main-container p{
      font-size: 1rem;
    }
    .box-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      padding: 0 8% 0 5%;
      }
    .polje{
      min-height: 60px;
      width: 100%;
     
    }
    /*--------------------noga!!!!----------------------------*/
   .container3{
   padding-top:6% ;
    width: 100%;
    height:auto;
   }
   .noga{
    display: flex;
    width: 100%;
    flex-direction: column;
   }
   .box1{
    order: 2;
    margin: auto;
    width: 70%;
    border: none;
   }
   .box2{
    margin: auto;
    width: 70%;
    text-align: center;
    border: none;
   }
   .box3{
    margin: auto;
    padding: 3% 0 ;
    width: 70%;
   }
   .box2 img{
    width: 180px;
    margin-bottom: -10px;
    margin-top: 20px;
   }
   
   .box2 a img{
    width: 2.4rem; 
    margin: 4%;
   }
   
   .box1 ul li,
   .box3 ul li
   {
    text-align: center;
    margin-top: 5%;
   }
   .box1 ul li a p,
    .box3 ul li  p{
      font-size: 0.95rem;
    }
   .kontakt-noga h2
   {
    font-size: 1.6rem;
    text-align: center;
   }
   footer{
    margin-top: 40px;
    font-size: 0.75rem;
    padding-bottom: 15px;
   }
    }
    @media (max-width:650px)
{
/*------------------------------1-DEL-------------------------*/
.main-container{
  max-width: 90%;
}
 .main-container h1{
    font-size: 2.5rem;
  }
  .main-container p{
    font-size: 1rem;
  }
}
@media (max-width:550px)
{
/*------------------------------1-DEL-------------------------*/
.main-container{
  max-width: 95%;
}
 .main-container h1{
    font-size: 2.1rem;
  }
  .main-container p{
    font-size: .95rem;
  }
}
@media (max-width:450px) {
  .info-container{
    padding-left: 0px;
    margin-top: 30%;
  }
  .box{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  .icon{
    margin: auto;
    margin-top:-200px;
    width: 40px;
    height: 40px;
    font-size: 2rem; 
    position: absolute;
}
#mail{
  padding-bottom:60px; /*pazi ko boš dodal email naslove*/
}
.text{
  width: 200px;
    margin-top: 35px;
    text-align: center;
}
.text h3{
    font-size: 1.3rem;
}
.text ul li p{
  font-size: .8rem;
}  
}