:root{
    --yellow:#FCB31C;
    --siva:#cccccc;
    --rj:#2e2925;
    --rob_card: 20px;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
ul{
    list-style-type: none;
}
h1{
    font-size: 44px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--yellow);
}
h2{
        font-size: 27px;
        font-family: 'Times New Roman', Times, serif;
        color: var(--yellow);
}
a{
    font-size: 19px;
}
p{
    color: #ffffff;
    font-family: Helvetica,sans-serif ;
    font-size: 17px;
    letter-spacing: 1px;
}

/*---------------------------------nav bar-----------------------*/

header{
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 0;
    background-color: #2e2925f0;
    border-end-end-radius: 200%;
    border-end-start-radius: 200%;
    height: 110px;
    z-index: 2; 
    position: fixed;
    transition:all 0.5s linear;
  }
  
  .nav-pages {
    width: 1400px;
   padding-top: 0%;
    margin-top: 8px;
    transition: all 0.5s linear;
  }
  #povezave{
    padding-top: 5px;
    margin-right:auto;
    margin-left:auto;
    justify-content: center;
    display: flex;
    transition: all 0.5s linear;  
   
  }
  #povezave li{
    text-align: center;
    height: 100%;
     width: 100%;
    margin-top: 10px;
    transition: all 0.5s linear; 
  }
  
  .link{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:-5% ;
    /* margin: 0% 15px;*/
    padding: 13px;
     text-transform: uppercase;
     text-decoration: none;
     color: #ffffff;
     border: solid rgba(255, 255, 255, 0) 0px;
     border-radius: 25px;
     transition:  0.5s linear;
     position: relative;
        
  }
  
  #povezave li:nth-child(4), #povezave li:nth-child(5), #povezave li:nth-child(6)
  {
    float:right;
   
  }
  
  #povezave li:nth-child(1), #povezave li:nth-child(2), #povezave li:nth-child(3)
  {
    float:left;
   
  }
  #povezave li:nth-child(3)
  {
   margin-right: 10%; 
  }
  #povezave li:nth-child(4)
  {
   margin-left: 10%; 
  }
  #nav{
  display: flex;
  height: 110px;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  }
  #logo{
    width: 220px;
    padding-top: 5px;
    margin-bottom: 5px;
   transition: all 0.5s linear;
   position: absolute;
  }
  #logo img{
    width: 100%;
    /*margin-left: -68%;*/
  }
  
  .selected{
    border: solid var(--yellow )0px;
    border-radius: 25px;
    background-color: var(--yellow);
    color:black;
  }
  .selected:hover{
  color: #ffffff;
  }
  
  .link:hover{
    border: solid var(--yellow )0px;
    border-radius: 25px;
    background-color: var(--yellow);
    transition: all 0.7s linear ;
    position: relative;
  }
  
.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/les_letnice.png');
    background-size: cover;
    height: 100vh;
    position: relative;
}
.container::after{
    content: "";
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(0deg, #2e292526 30%, #2E2925 100%), linear-gradient(180deg,#2e292526 30%, #2e2925 100%);
    background-size: cover;
    height: 100vh;
    z-index: -1;
    position: absolute;
}
.o-nas{
    margin: 0;
    width: 100%;
    height: 100vh;
    border: red 2px solid;
    float: left;

}
#vsebina1{
    margin: 13% 45% 20% 15%;
    height: auto;

}
.us-box h1{
    padding-left: 5%;
    padding-bottom: 4%;
    width: 40%;
    word-spacing: 7px;
    letter-spacing: 1px;
    line-height: 120%;  
}

.us-box p:nth-child(2){
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 5%;
    padding-right: 3%;
    color: var(--siva);
    text-align: center;
    line-height: 130%;
    border-left: var(--yellow) 3px solid;
    border-radius: 9px;
}
.us-box p:nth-child(3){
    font-size: 120%;
    font-family: Helvetica,sans-serif ;
    margin-right: 3%;
    color:#ffffff;
    letter-spacing: 0.5px;
    line-height: 140%;
    border-right: var(--yellow) 3px solid;
    border-radius: 9px;
}
.us-box p:nth-child(4){
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 5%;
    padding-right: 3%;
    text-align: center;
    color: var(--siva);
    line-height: 130%;
    border-left: var(--yellow) 3px solid;
    border-radius: 9px;
}
.container1{
    float: left; 
    width: 100%;
   margin-top: -45vh; 
   margin-left: 120%;
 }
 .container1 img{
     width: 30%;
     margin-top: 0px;
     margin-left: 0px;
     border-radius: 20px;
     z-index: 1;
     position:absolute;
 }

 
/*-----------------------------noga---------------------------------*/

.container3{
  margin: 0;
 padding-top:6% ;
  width: 100%;
  background-color: var(--rj);
  height:40vh;
  

}
.noga{
  display: flex;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

}

.box1:nth-child(1){
  padding: 4% 7% 3% 12%;
  text-align: center;
  border-right: #ffffff20 solid 0.1px;

}
.box1:nth-child(2){
  margin: 0;
  width: 400px;
  padding: 1% 2%;
  text-align: center;
  border-right: #ffffff20 solid 0.1px;
}
.box1:nth-child(3){
  padding: 3% 9% 3% 7%;
  text-align: center;
 
}
.box1 img{
  width: 200px;
  margin-bottom: 20px;
}
.box1 a img{
  width: 8%; 
  margin-left: 4%;
  scale: 1;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.box1 a img:hover{
  opacity: 0.5;
  scale: 1.2;
}

.box1 ul li{
  text-align: left;
  list-style-type: none;
  margin-top: 4%;
}
.box1 ul li a{
  text-decoration: none;
  list-style-type: none;
}
.box1 ul li a p{
  font-family:'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  color:var(--siva);
  font-size: 90%;
  transition: linear 0.2s;
}
.box1 ul li a p:hover{
  color: var(--yellow);
}
.kontakt-noga h2{
  color: white;
  text-shadow: 1px 1px var(--yellow);
}
.kontakt-noga ul li{
  text-decoration: none;
  list-style-type: none;
}
.kontakt-noga ul li p{
  font-family:'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  color:var(--siva);
  font-size: 90%;
}